<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a class="navbar-brand" routerLink="">Sonik-ska</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-secondary" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white" routerLink="stores" routerLinkActive="active-link">Stores</a></li>
          <li><a href="#" class="nav-link px-2 text-white" routerLink="core products" routerLinkActive="active-link">Core products</a></li>
          <li><a href="#" class="nav-link px-2 text-white" routerLink="cart" routerLinkActive="active-link">Cart</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" routerLink="login" (click)="cambiarVisibilidad(false)">Login</button>
          <button type="button" class="btn btn-warning">Sign-up</button>
        </div>
      </div>
    </div>
  </header>